body {
  margin: 0;
  background: #fafafa;
}
.login-page {
  width: 365px;
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid #80808033;
}
.login-page > h1 {
  margin: 22px auto 12px;
  font-family: cursive;
  font-size: 2.4rem;
}

.login-page > form {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > input {
  margin: 5px;
  border-radius: 5px;
  width: 50%;
}

form > input {
  background: #e8f0fe;
  height: 1.4rem;
  font-size: 1rem;
  outline: 0;
}
form > button {
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 4px;
  color: #fff;
  position: relative;
  width: 50%;
  margin-top: 10px;
  padding: 8px;
}

form > button {
  outline: 0;
}
