.comment-container {
  padding: 10px;
}

.comment-text {
  display: flex;
}
.comment-text,
span {
  padding: 5px 10px 5px 0px;
  font-weight: 600;
}
.comment-text,
p {
  text-align: left;
  font-weight: normal;
  margin: 0;
}
.comments {
  justify-content: baseline;
}

.comment-input {
  padding: 10px;
}
.comment-input > form > input {
  width: 95%;
  font-size: 1rem;
  margin: 0 auto;
  padding: 10px;
  border: 0;
  border-top: 0.5px solid #80808040;
}
